
<div class="container" style="margin-top: 55px;">
            <h3 style="text-align: center; margin-bottom: 20px" >Agregar noticia</h3>
    <div class="row " style="align-content: center;">
        <form action="/admin/novedades/agregar" style="text-align: center;" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="text"  class="form-control" placeholder="Titulo" name="titulo">
            </div>
            <div class="mb-3">
                <textarea type="text" class="form-control" cols="160" rows="2" placeholder="Subtitulo" name="subtitulo"></textarea>
            </div>
            <div class="mb-3">
            <label>Imagen</label><input type="file"  class="form-control" placeholder="imagen" name="imagen">
            </div>
            <div class="mb-3">
                <textarea type="text" class="form-control" rows="8"placeholder="Novedad" name="cuerpo"></textarea>
            </div> 
                <input type="submit" size="30" value="Guardar noticia">
        </form>
        {{#if error}}
        <p>{{message}}</p>
        {{/if}}

                    

    </div>
</div>