<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TPO</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3482bf6321.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </head>
  <body>
        
        <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="background-color: aqua;">
            <a class="{{#if isHome}}navbar-brand {{/if}}" href="/">
                <img src="/images/Logo1min.png" alt="Inicio">            
            </a>
          

          </nav>

    {{{body}}}


              <div class="Socialdiv" style="text-align: center; position: static;background-color:      #212529;;">
            <a href="mailto:infoxenon.9@gmail.com" class="fa fa-envelope" style="color: white;"></a>
            <a href="https://twitter.com/Xenon9" class="fa fa-twitter"></a>
            <a href="https://www.youtube.com/channel/UCrjO8bvh62lwAz2atQjakbw" class="fa fa-youtube" style="color: red"></a>
            <a href="https://www.instagram.com/xenonkodize" class="fa fa-instagram" style="color: pink;"></a>
<!--- tuve que agregar el estilo dentro de mi footer ya que no encontre dentro de la documentación para poder emparejarlo con el footer de la pagina fuera del amind->






          </div>
  </body>
</html>
