
              <div class="formularioc">
                <span>
                <h2>Contacto</h2></span>
                <form class="form1" action="" method="post" target="_blank">
                  <label for="firstname"></label><input size="30" type="text" alt="Nombre" name="firstname" placeholder="Nombre" >   <br><br>
                  <label for="mail"></label><input size="30" type="text" alt="Correo" name="mail" placeholder="correo electronico" >  <br><br>
                  <lavel for="text"></lavel><input size="30"type="text" alt="Asunto" name="Asunto" placeholder="Asunto">
                <h4>Deje su Mensaje aqui</h4>
                  <textarea name="mensaje" id="Mensaje" type="text" cols="32" rows="10"></textarea>
                <br>
                  <input type="submit" size="30" value="Enviar">
                  <h2 style="background-color: rgba(0, 102, 192, 0.1)">{{message}}</h2>
              </div>

