<h4 class="animate__fadeInBottomRight">Discografia</h4>
<div class="tabla">
<table class="Discos">

  </tr>
  <tr>
    <td><a href="https://www.deezer.com/es/album/78245302"><img src="Disc/Atlantida.jpg" alt=""> </a></td>
    <td><a href="https://www.deezer.com/es/album/45069391"><img src="Disc/Fantasia.jpg" alt=""></td></a>
  </tr>
  <tr>
    <td> <a href="https://www.deezer.com/es/album/45069381"><img src="Disc/Miradaseternas.jpg" alt=""></a></td>
    <td><a href="https://www.deezer.com/es/album/45069321"><img src="Disc/Pandora.jpg" alt=""></a></td>

  </tr>
  <tr>
    <td><a href="https://www.deezer.com/es/album/45069371"><img src="Disc/Theroad.jpg" alt=""></td></a>
    <td><a href="https://www.deezer.com/es/album/50958422"><img src="Disc/Altafrecuencia.jpg" alt=""></td></a>

  </tr>
</table>
<h4 style="color:brown;">Escucha sus mejores temas</h4>
<div>
<iframe title="deezer-widget" src="https://widget.deezer.com/widget/light/artist/89987/top_tracks" width="100%" height="210" frameborder="0" allowtransparency="true" allow="encrypted-media; clipboard-write"></iframe>
</div></div>








