<div>
            <div class="bio">
              <h3>Biografia </h3>
              <p class="biografia">
                Rubén de la Cruz Pérez (Xenon) nació en Alicate-España el 5/4/1990.A la temprana edad de 13 años, comenzó a interesarse mucho por la cultura del Hip-Hop. Comenzó a vestir ropa ancha y a escribir sus primeras rimas con tan solo 14 años A los 15 grabo sus primeros temas, quizás de una manera muy casera pero el se sentía muy feliz de lograr mostrar sus primeras canciones al mundo. Todo ese tiempo, Rubén, ha ido creciendo como persona y artista,y este sentimiento por la música, le a llevado hoy día a ser quien es. A día de hoy Xenon, es una persona que necesita de la música..... Necesita expresarse y escribir sobre lo que le rodea en su entorno más cercano. Algunas veces sus letras tienen toque melancólicos, otras un tono más agresivo y reivindicador ...... pero ante todo conserva esa esencia propia que le distingue al resto. En sus ideas y futuros proyectos Rubén pretender crecer con todo esto, y llevarlo a un plano superior. - Organizar giras y proyectos no solo nacionales. - Sorprender con nuevos trabajos innovadores. - Crecer como persona y artista. - Y mejorar esas letras que redacta en su cuaderno. También se encuentra ahora al frente de un estudio de grabación que el mismo decidió montar bajo el nombre de "Sindrome Klap Records", donde comparte sus experiencias y conocimientos con otros artistas que vienen a grabar y editar sus trabajos. El sueño de una vida poco a poco tima forma, y Xenon luchara día a día por mantenerlo.
              </p>
              <div class="videohist">
                <h2 >Mira su ultimo video</h2>
                <iframe class="videohist" width="560" height="315" src="https://www.youtube.com/embed/1-Tv_h-C23E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
              </div>
            </div>
          </div>

    








