          <div class="grid-container">
            <main>Bibliografia</main>
            <div id="content1">Ya no tintas Nada
              <div>
                <img src="images/Libro00.png" alt="Imagen de Libro" class="librov">
                <div>
                  <p>Editorial: Espasa</p>
                  <p>Temática: Poesía | Poesía urbana</p>
                  <p> <a href="https://articulo.mercadolibre.com.ar/MLA-862595332-ya-no-tintas-nada-_JM#position=1&search_layout=stack&type=item&tracking_id=37c7fb8f-e40f-4653-bb71-1dfdc54734d0"> Comprar <i class="fa fa-shopping-cart"></i></a></p>
                </div>
              </div>
            </div>






            <div id="content2">Atlantida
              <div>
                <img src="images/Libro11.png" alt="Imagen de Libro" class="librov">
                <p>Editorial: Altafonte</p>
                <p>Temática: Poesía | Poesía urbana</p>
                <p><a href="https://www.amazon.es/Atl%C3%A1ntida-Xenon/dp/8494942913"> Comprar <i class="fa fa-shopping-cart"></i></a></p></a></p>
                <div>

              </div></div>
            </div>
          
          </div>
          










